DB_PORT=5435
POSTGRES_USER=postgres
POSTGRES_PASSWORD=salasana
POSTGRES_DB=lainaamo

DATABASE_URL=postgresql+psycopg2://postgres:salasana@localhost/lainaamo
TOKEN_KEY=409747001f3868f278f30733498389a96b2fccc71add916382037aac869496a9